*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(130, 212, 130);
}

h1{
   margin-top: 20px;
   color: black
}

#container{
    margin-top: 20px;
    height: 320px;
    display: flex;
    justify-content: center;
}

#game{
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.box{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 236, 11);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 35px;
}

.box:hover{
    background-color: rgb(217, 255, 0);
}

#reset{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px 20px;
}
#newbtn{
    margin-top: 20px;
    background-color: rgb(151, 63, 63);
    color: white;
    padding: 10px 20px;
}
#msg{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.hide{
    display: none;
}